
<div class="row">
  <div class="col-md-12">
    <h2>Please check your email for an invitation to join <a href="https://github.com/githubpartners">githubpartners!</a> or click the link and accept it.</h2>
  </div>
</div>
