<div class="row heading">
  <div class="col-md-12">
    <h2>Prerequisites for Enablement</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>User Prerequisites</h3>
    <p>Please check your email for an invitation to join <a href="https://github.com/githubpartners">githubpartners!</a> or click the link and accept it.</p>
    <p>Please accept membership of your partner's team, and the <code>enablement-beta</code> team</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Technical Prerequisites</h3>
    <p>GitHub Account (You already have this, if you're seeing this!)</p>
    <p><a href="https://github-partner-enablement.herokuapp.com/technical/installation-configuration/lab/">Installing GitHub on AWS</a></p>
    <p><a href="https://enterprise.github.com">Generate a GitHub Enterprise Trial License (Good for 45 days)</a></p>
    <p><a href="https://try.github.io/levels/1/challenges/1">Basic git knowledge</a></p>
    <p><a href="https://subversion.apache.org/packages.html">Install subversion</a></p>
    <p><a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git">Install git</a></p>
    <p><a href="https://www.ruby-lang.org/en/documentation/installation/">Install Ruby 2.2.4</a></p>
  </div>
  <div class="col-md-12">
    <p>Create a <a href="https://heroku.com">Heroku</a> login and add a credit card to the account</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Install Ruby 2.2.4</p>
  </div>
</div>
