<div class="row heading">
  <div class="col-md-12">
    <h2>Prerequisites for Enablement</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Please check your email for an invitation to join <a href="https://github.com/githubpartners">githubpartners!</a> or click the link and accept it.</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><a href="https://github-partner-enablement.herokuapp.com/technical/installation-configuration/lab/">Installing GitHub on AWS</a></p>
  </div>
  <div class="col-md-12">
    <p>Create a <a href="https://heroku.com">Heroku</a> login and add a credit card to the account</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Install Ruby 2.2.4</p>
  </div>
</div>
